<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Chantier</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'vendor/bootstrap/css/bootstrap.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'CSS/Chantier.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'CSS/ResponsableSchedule.css' %}>
<!--===============================================================================================-->
</head>
<header>
</header>
<body>
    <div class="calendar-container">
    <div class="calendar-header">
      <div class="row">
          <div class="col-2 offset-md-3 Time-Selector">
              <a class="btn-list"><data value="-3"></data><i class="fas fa-angle-double-left"></i></a>
              <a class="btn-list"><data value="-1"></data><i class="fas fa-chevron-left"></i></a>
              <a class="btn-list"><data value="0"></data><i>Aujourd'hui</i></a>
              <a class="btn-list"><data value="1"></data><i class="fas fa-chevron-right"></i></a>
              <a class="btn-list"><data value="3"></data><i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="col-2 offset-md-3 legend">
              <i class="fas fa-square Legend-NotStart"></i><p>Pas commencé</p>
              <i class="fas fa-square Legend-Progress"></i><p>En cours</p>
              <i class="fas fa-square Legend-Finish"></i><p>Fin</p>
          </div>
      </div>
    </div>
        <div class="calendar"><span class="chantier-name">Chantier</span>
        {% if WeekList %}
            {% for week in WeekList %}
                <span class="day-name">{{week.0|date:"d/m"}} - {{week.1|date:"d/m"}}</span>
            {% endfor %}
        {% endif %}
        {% for chant in chantierList %}
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
            <div class="item" style="grid-row: {{ forloop.counter|add:"1" }}"></div>
        {% endfor %}
        {% for chant in chantierList %}
            <div class="phase-indicator" style="grid-row: {{chant.num|add:"2"}};">
                <p>{{ chant.self.Name }}</p>
            </div>
        {% endfor %}
        {% for chant in chantierList %}
            {% for task in chant.timeline.taskList %}
              <section id="phase-{{ task.phase.id}}" class="task {{task.line}} {{task.state}}" style="grid-row: {{chant.num|add:"2"}};grid-column: {{task.column|add:""}}">
                <data value="{{ A.self.id }}"></data>
                <div class="tb">
                    <p class="task_text">{{task.phase.Name}}</p>
                </div>
                <div style="display: none;" class="form-taskContainer">
                    <i class="fas fa-times exit"></i>
                    <span><i class="fas fa-caret-up"></i></span>
                    <form method="POST">
                        <data value="{{ task.phase.id }}"></data>
                        <div class="form-row">
                             <div class="form-group col-md-6">
                                 <label for="inputName">Nom :</label>
                                 <input type="text" name="inputName" placeholder="Nom" value="{{ task.phase.Name }}" class="form-control" maxlength="100" id="id_inputName">
                             </div>
                             <div class="form-group col-md-6">
                                <label for="inputState">Etat :</label>
                                <select name="inputState" class="form-control selectCustom" id="id_inputState">
                                  <option value="0"{% if task.phase.State == "0" %} selected {% endif %}>Pas commencé</option>
                                  <option value="1"{% if task.phase.State == "1" %} selected {% endif %}>En cours</option>
                                  <option value="2"{% if task.phase.State == "2" %} selected {% endif %}>Fini</option>
                                </select>
                             </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputDebut">Date début :</label>
                                <input type="date" name="inputDebut" placeholder="début" value="{{ task.phase.Date_debut|date:"Y-m-d" }}" class="form-control" maxlength="100" id="id_inputDebut">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputObjectif">Date Objectif :</label>
                                <input type="date" name="inputObjectif" placeholder="Objectif" value="{{ task.phase.Deadline|date:"Y-m-d" }}" class="form-control" maxlength="100" id="id_inputObjectif">
                            </div>
                        </div>
                        <div class="form-row">
                        <a class="btn btn-secondary btn-list" >retour</a>
                        <button type="submit" href="{% url 'Phase_save' task.phase.id %}" class="btn btn-primary btn-list">Enregister</button>
                         <a class="btn btn-danger btn-list" href="{% url 'Phase_delete' task.phase.id %}">Supprimer</a>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
              </section>
            {% endfor %}
        {% endfor %}
        </div>
	<div class="container card">
		<form method="POST">
			<div class="form-row">
			 <div class="form-group col-md-6">
				 <label for="inputName">Prénom</label>
				 {{form.inputFirstName}}
			 </div>
			 <div class="form-group col-md-6">
				 <label for="inputEntite">Nom</label><br>
				 {{form.inputName}}
			 </div>
		 </div>
        <div>
            <h4>Phases non-planifiées:</h4>
            {% if PhaseNonPlan %}
                {% for phase in PhaseNonPlan %}
                    <ul class="list-group">
                        <li class="list-group-item phase state-{{ phase.State }}">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5>{{ phase.id_chantier.Name }}</h5>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>{{ phase.Name }}</h5>
                                    </div>
                                    <div class="col-sm-3">
                                        <h6>{{ phase.Date_debut|date:"d/m/y" }}-->{{ phase.Deadline|date:"d/m/y" }}</h6>
                                    </div>
                                    <div class="col-sm-2">
                                        {% if phase.State == "0" %}
                                            <span>Pas commencé</span>
                                        {% elif phase.State == "1" %}
                                            <span>En cours</span>
                                        {% elif phase.State == "2" %}
                                            <span>Fini</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="{% url 'Phase_modif' phase_id=phase.id %}"> <i class="fas fa-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
		<div>
            <h4>Phases planifiées:</h4>
            {% if PhasePlan %}
                {% for phase in PhasePlan %}
                    <ul class="list-group">
                        <li class="list-group-item phase state-{{ phase.State }}">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h5>{{ phase.Name }}</h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <h6>{{ phase.Date_debut|date:"d/m/y" }}-->{{ phase.Deadline|date:"d/m/y" }}</h6>
                                    </div>
                                    <div class="col-sm-3">
                                        {% if phase.State == "0" %}
                                            <span>Pas commencé</span>
                                        {% elif phase.State == "1" %}
                                            <span>En cours</span>
                                        {% elif phase.State == "2" %}
                                            <span>Fini</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="{% url 'Phase_modif' phase_id=phase.id %}"> <i class="fas fa-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            <h4>Phases terminés:</h4>
            {% if PhaseFinish %}
                {% for phase in PhaseFinish %}
                    <ul class="list-group">
                        <li class="list-group-item phase state-{{ phase.State }}">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h5>{{ phase.Name }}</h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <h6>{{ phase.Date_debut|date:"d/m/y" }}-->{{ phase.Deadline|date:"d/m/y" }}</h6>
                                    </div>
                                    <div class="col-sm-3">
                                        {% if phase.State == "0" %}
                                            <span>Pas commencé</span>
                                        {% elif phase.State == "1" %}
                                            <span>En cours</span>
                                        {% elif phase.State == "2" %}
                                            <span>Fini</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="{% url 'Phase_modif' phase_id=phase.id %}"> <i class="fas fa-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
		<div class="form-row">
		<a class="btn btn-secondary btn-list" href="{% url 'timelineArchi'  %}">retour</a>
		<button type="submit" class="btn btn-primary btn-list">Enregister</button>
        <a class="btn btn-danger btn-list" href="">Supprimer</a>
		</div>
		{% csrf_token %}
		</form>
	</div>
</div>

<!--===============================================================================================-->
	<script src={% static "vendor/jquery/jquery-3.2.1.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/bootstrap/js/popper.min.js" %}></script>
	<script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/select2/select2.min.js" %}></script>
    <script src={% static "JS/ResponsableApp.js" %}></script>
</body>
</html>
